{% extends "base.html" %}

{% block body %}
        <div class="row">
            <div class="col-md-2"><h2> Hey {{player_id}} !</h2></div>
            <div class="col-md-10"><div class="circle p{{player_id}}"></div></div>
        </div>


        <div>
            <table id="table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td><button onclick="Game.click(0)" disabled="disabled">Add</button></td>
                        <td><button onclick="Game.click(1)" disabled="disabled">Add</button></td>
                        <td><button onclick="Game.click(2)" disabled="disabled">Add</button></td>
                        <td><button onclick="Game.click(3)" disabled="disabled">Add</button></td>
                        <td><button onclick="Game.click(4)" disabled="disabled">Add</button></td>
                        <td><button onclick="Game.click(5)" disabled="disabled">Add</button></td>
                        <td><button onclick="Game.click(6)" disabled="disabled">Add</button></td>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

{% endblock %}


{% block scripts %}
<script>
    var Game = new Game(baseUrl, {{player_id}}, $('table'), $);
</script>
{% endblock %}
